SUI_NETWORK="testnet"
WORLD_PACKAGE_ID="0x777"
STARLANE_PACKAGE_ID="0x0"
TOLL_REGISTRY_ID="0x0"
OPERATOR_KEY="suiprivkey..."
PLAYER_KEY="suiprivkey..."
OPERATOR_CAP_ID=""
SOURCE_GATE_ID=""
DEST_GATE_ID=""
CHARACTER_ID=""
REGISTER_GATE_ID=""
REGISTER_FEE_MIST="100000000"
UPDATED_FEE_MIST="150000000"
SOURCE_GATE_LABEL="SL-SOURCE"
DEST_GATE_LABEL="SL-DEST"
CHARACTER_CALLSIGN="SL-PILOT"
