VITE_SUI_NETWORK="testnet"
VITE_STARLANE_PACKAGE_ID=""
VITE_WORLD_PACKAGE_ID="0x_REPLACE_ME"
VITE_TOLL_REGISTRY_ID=""
VITE_EVE_WORLD_PACKAGE_ID="0xd12a70c74c1e759445d6f209b01d43d860e97fcf2ef72ccbbd00afd828043f75"
